<?xml version="1.0"?>
<config>
  <modules>
    <Bworld_Postcode>
      <version>0.1.0</version>
    </Bworld_Postcode>
  </modules>
  <frontend>
    <routers>
      <postcode>
        <use>standard</use>
          <args>
            <module>Bworld_Postcode</module>
            <frontName>postcode</frontName>
          </args>
      </postcode>
    </routers>
		<layout>
		  <updates>
			<postcode>
			  <file>postcode.xml</file>
			</postcode>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <postcode>
        <class>Bworld_Postcode_Helper</class>
      </postcode>
    </helpers>
	<blocks>
	  <postcode>
		<class>Bworld_Postcode_Block</class>
	  </postcode>
	</blocks>
  </global>
</config> 