<?xml version="1.0"?>
<config>
  <modules>
    <Bundlepro_Bundlemod>
      <version>0.1.0</version>
    </Bundlepro_Bundlemod>
  </modules>
  <frontend>
    <routers>
      <bundlemod>
        <use>standard</use>
          <args>
            <module>Bundlepro_Bundlemod</module>
            <frontName>bundlemod</frontName>
          </args>
      </bundlemod>
    </routers>
		<layout>
		  <updates>
			<bundlemod>
			  <file>bundlemod.xml</file>
			</bundlemod>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <bundlemod>
        <class>Bundlepro_Bundlemod_Helper</class>
      </bundlemod>
    </helpers>
	<blocks>
	  <bundlemod>
		<class>Bundlepro_Bundlemod_Block</class>
	  </bundlemod>
	</blocks>
	<resources>
	  <bundlemod_setup>
		<setup>
		  <module>Bundlepro_Bundlemod</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </bundlemod_setup>
	  <bundlemod_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </bundlemod_write>
	  <bundlemod_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </bundlemod_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <bundlemod>
	    <use>admin</use>
		<args>
		  <module>Bundlepro_Bundlemod</module>
		  <frontName>bundlemod</frontName>
		</args>
	  </bundlemod>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <bundlemod module="bundlemod">
		<title>Bundlemod</title>
		<sort_order>100</sort_order>
		<children>
		  <bundlemodbackend module="bundlemod">
			<title>Backend Page Title</title>
			<sort_order>0</sort_order>
			<action>bundlemod/adminhtml_bundlemodbackend</action>
		  </bundlemodbackend>
		</children>
	  </bundlemod>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<bundlemod translate="title" module="bundlemod">
			  <title>Bundlemod</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <bundlemodbackend translate="title">
			<title>Backend Page Title</title>
		  </bundlemodbackend>
			  </children>
			</bundlemod>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<bundlemod>
		  <file>bundlemod.xml</file>
		</bundlemod>
	  </updates>
	</layout>
  </adminhtml>
</config> 