<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Google_Events>
            <version>0.0.1</version>
        </Google_Events>
    </modules>
    <global>
        <models>
            <Google_Events>
                <class>Google_Events_Model</class>
            </Google_Events>
        </models>
        <events>
            <controller_action_postdispatch_cms_index_noRoute>
                <observers>
                    <Google_Events>
                        <class>Google_Events/observer</class>
                        <method>googleEvents</method>
                        <type>singleton</type>
                    </Google_Events>
                </observers>
            </controller_action_postdispatch_cms_index_noRoute>
        </events>
    </global>
</config>