<?xml version="1.0"?>
<config>
    <modules>
        <AW_Betterthankyoupage>
            <version>1.0.2</version><platform>ce</platform>
        </AW_Betterthankyoupage>
    </modules>
    <global>
        <helpers>
            <betterthankyoupage>
                <class>AW_Betterthankyoupage_Helper</class>
            </betterthankyoupage>
        </helpers>
        <models>
            <betterthankyoupage>
                <class>AW_Betterthankyoupage_Model</class>
            </betterthankyoupage>
        </models>
        <blocks>
            <betterthankyoupage>
                <class>AW_Betterthankyoupage_Block</class>
            </betterthankyoupage>
            <checkout>
                <rewrite>
                    <onepage_success>AW_Betterthankyoupage_Block_CheckoutOnepageSuccess</onepage_success>
                    <multishipping_success>AW_Betterthankyoupage_Block_CheckoutOnepageSuccess</multishipping_success>
                </rewrite>
            </checkout>
            <aw_sarp2>
                <rewrite>
                    <checkout_onepage_success>AW_Betterthankyoupage_Block_CheckoutOnepageSuccess</checkout_onepage_success>
                </rewrite>
            </aw_sarp2>
        </blocks>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <betterthankyoupage>
                                            <title>aheadWorks - Better Thank You Page</title>
                                        </betterthankyoupage>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <AW_Betterthankyoupage>
                    <files><default>AW_Betterthankyoupage.csv</default></files>
                </AW_Betterthankyoupage>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <betterthankyoupage>
                <use>admin</use>
                <args>
                    <module>AW_Betterthankyoupage</module>
                    <frontName>betterthankyoupage</frontName>
                </args>
            </betterthankyoupage>
        </routers>
    </admin>
    <frontend>
        <routers>
            <betterthankyoupage>
                <use>standard</use>
                <args>
                    <module>AW_Betterthankyoupage</module>
                    <frontName>betterthankyoupage</frontName>
                </args>
            </betterthankyoupage>
        </routers>
        <layout>
            <updates><betterthankyoupage><file>betterthankyoupage.xml</file></betterthankyoupage></updates>
        </layout>
        <translate>
            <modules>
                <AW_Betterthankyoupage>
                    <files><default>AW_Betterthankyoupage.csv</default></files>
                </AW_Betterthankyoupage>
            </modules>
        </translate>
    </frontend>
    <default>
        <betterthankyoupage>
            <general>
                <module_enabled>0</module_enabled>
            </general>
            <order_information_section>
                <display_section>1</display_section>
                <section_sort_order>1</section_sort_order>
                <display_order_number>1</display_order_number>
                <display_invoice_button>1</display_invoice_button>
                <text_message></text_message>
            </order_information_section>
            <social_network_sharing_section>
                <display_section>0</display_section>
                <section_sort_order>2</section_sort_order>
                <sharing_buttons_style>3</sharing_buttons_style>
            </social_network_sharing_section>
            <cms_block_section>
                <display_section>0</display_section>
                <section_sort_order>3</section_sort_order>
                <cms_block></cms_block>
            </cms_block_section>
            <crosssell_block_section>
                <display_section>0</display_section>
                <section_sort_order>4</section_sort_order>
                <number_of_items_to_show>4</number_of_items_to_show>
            </crosssell_block_section>
            <newsletter_subscription_section>
                <display_section>0</display_section>
                <section_sort_order>5</section_sort_order>
            </newsletter_subscription_section>
        </betterthankyoupage>
    </default>
</config>