<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Followup_Cartupdate>
            <version>0.0.1</version>
        </Followup_Cartupdate>
    </modules>
    <global>
        <models>
            <Followup_Cartupdate>
                <class>Followup_Cartupdate_Model</class>
            </Followup_Cartupdate>
        </models>
        <events>
            <sales_quote_collect_totals_after>
                <observers>
                    <Followup_Cartupdate>
                        <class>Followup_Cartupdate/observer</class>
                        <method>discountUpdate</method>
                        <type>singleton</type>
                    </Followup_Cartupdate>
                </observers>
            </sales_quote_collect_totals_after>
        </events>
    </global>
</config>