<?xml version="1.0"?>
<config>
    <modules>
        <Mirasvit_SeoSitemap>
            <version>1.0.0</version>
        </Mirasvit_SeoSitemap>
    </modules>
    <global>
        <blocks>
            <seositemap>
                <class>Mirasvit_SeoSitemap_Block</class>
            </seositemap>
        </blocks>
        <models>
            <seositemap>
                <class>Mirasvit_SeoSitemap_Model</class>
                <resourceModel>seositemap_resource</resourceModel>
            </seositemap>
            <seositemap_resource>
                <class>Mirasvit_SeoSitemap_Model_Resource</class>                 
            </seositemap_resource>
            <sitemap>
                <rewrite>
                    <sitemap>Mirasvit_SeoSitemap_Model_Sitemap</sitemap>
                </rewrite>
            </sitemap>                         
        </models>
        <helpers>
            <seositemap>
                <class>Mirasvit_SeoSitemap_Helper</class>
            </seositemap>
        </helpers>
        <resources>
            <seositemap_setup>
                <setup>
                    <module>Mirasvit_SeoSitemap</module>
                </setup>
            </seositemap_setup>             
        </resources>
    </global>
    <frontend>
        <routers>
            <seositemap>
                <use>standard</use>
                <args>
                    <module>Mirasvit_SeoSitemap</module>
                    <frontName>sitemap</frontName>
                </args>
            </seositemap>
        </routers>
        <layout>
            <updates>
                <seositemap>
                    <file>seositemap.xml</file>
                </seositemap>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mirasvit_SeoSitemap>
                    <files>
                        <default>Mirasvit_SeoSitemap.csv</default>
                    </files>
                </Mirasvit_SeoSitemap>
            </modules>
        </translate>        
    </frontend>
    <admin>
        <routers>
            <seositemap>
                <use>admin</use>
                <args>
                    <module>Mirasvit_SeoSitemap</module>
                    <frontName>seositemap</frontName>
                </args>
            </seositemap>
        </routers>
    </admin>    
    <adminhtml>
        <translate>
            <modules>
                <Mirasvit_SeoSitemap>
                    <files>
                        <default>Mirasvit_SeoSitemap.csv</default>
                    </files>
                </Mirasvit_SeoSitemap>
            </modules>
        </translate>
        <layout>
            <updates>
                <seositemap>
                    <file>seositemap.xml</file>
                </seositemap>              
            </updates>
        </layout>  
    </adminhtml>     
</config>