<?xml version="1.0"?>
<config>
    <modules>
        <Oro_SalesRule>
            <version>0.1.0</version>
        </Oro_SalesRule>
    </modules>
    <global>
        <models>
            <oro_salesrule>
                <class>Oro_SalesRule_Model</class>
            </oro_salesrule>
            <salesrule>
                <rewrite>
                    <validator>Oro_SalesRule_Model_Validator</validator>
                    <rule>Oro_SalesRule_Model_Rule</rule>
                    <quote_discount>Oro_SalesRule_Model_Quote_Discount</quote_discount>
                </rewrite>
            </salesrule>
        </models>
        <blocks>
            <oro_salesrule>
                <class>Oro_SalesRule_Block</class>
            </oro_salesrule>
        </blocks>
        <helpers>
            <oro_salesrule>
                <class>Oro_SalesRule_Helper</class>
            </oro_salesrule>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <oro_salesrule before="Mage_Adminhtml">Oro_SalesRule_Adminhtml</oro_salesrule>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <oro_salesrule>
                    <file>oro/salesrule.xml</file>
                </oro_salesrule>
            </updates>
        </layout>
        <events>
            <salesrule_rule_condition_combine>
                <observers>
                    <oro_salesrule>
                        <class>oro_salesrule/observer</class>
                        <method>addConditions</method>
                    </oro_salesrule>
                </observers>
            </salesrule_rule_condition_combine>
        </events>
    </adminhtml>
</config>
