<?xml version="1.0"?>
<config>
    <modules>
        <Atypicalbrands_Promocampaign>
            <version>1.0.0</version>
        </Atypicalbrands_Promocampaign>
    </modules>
    <global>
        <models>
            <atypicalbrands_promocampaign>
                <class>Atypicalbrands_Promocampaign_Model</class>
            </atypicalbrands_promocampaign>
        </models>
        <resources>
            <promocampaign_setup>
                <setup>
                    <module>Atypicalbrands_Promocampaign</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </promocampaign_setup>
        </resources>
        <events>
            <am_restrict_rates>
                <observers>
                    <amshiprestriction1>
                        <type>singleton</type>
                        <class>atypicalbrands_promocampaign/observer</class>
                        <method>restrictRates</method>
                    </amshiprestriction1>
                </observers>
            </am_restrict_rates>
        </events> 
		<blocks>
			<atypicalbrands_promocampaign>
	        	<class>Atypicalbrands_Promocampaign_Block</class>
	   		</atypicalbrands_promocampaign>
		    <adminhtml>
	    		<rewrite>
	    			<promo_quote_edit_tab_main>Atypicalbrands_Promocampaign_Block_Adminhtml_Promo_Quote_Edit_Tab_Main</promo_quote_edit_tab_main>
		            <promo_quote_edit_tab_actions>Atypicalbrands_Promocampaign_Block_Adminhtml_Promo_Quote_Edit_Tab_Actions</promo_quote_edit_tab_actions>
		            <promo_quote_grid>Atypicalbrands_Promocampaign_Block_Adminhtml_Promo_Quote_Grid</promo_quote_grid>
		        </rewrite>
		    </adminhtml>
		</blocks>
        <remote_addr_headers>
            <header1>HTTP_X_FORWARDED_FOR</header1>
            <header2>HTTP_X_REAL_IP</header2>
            <header3>REMOTE_ADDR</header3>
        </remote_addr_headers>
	</global>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Atypicalbrands_Promocampaign_Adminhtml before="Mage_Adminhtml">Atypicalbrands_Promocampaign_Adminhtml</Atypicalbrands_Promocampaign_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
        <default>
        <carriers>
            <shipping_with_coupon>
                <active>1</active>
                <model>atypicalbrands_promocampaign/carrier</model>
                <sallowspecific>0</sallowspecific>            
                <name>Inchoo Custom Shipping Method</name>             
                <title>Shipping With Coupon</title>
                <type>I</type>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>            
            </shipping_with_coupon>
        </carriers>
    </default>
</config>
