<?xml version="1.0"?>
<config>
    <modules>
        <Oro_Checkout>
            <version>0.1.0</version>
        </Oro_Checkout>
    </modules>
    <global>
        <models>
            <oro_checkout>
                <class>Oro_Checkout_Model</class>
                <resourceModel>oro_checkout_resource</resourceModel>
            </oro_checkout>
            <oro_checkout_resource>
                <class>Oro_Checkout_Model_Resource</class>
                <entities>
                    <attribute_cart_option><table>catalog_product_attribute_cart_option</table></attribute_cart_option>
                </entities>
            </oro_checkout_resource>
        </models>
        <blocks>
            <oro_checkout>
                <class>Oro_Checkout_Block</class>
            </oro_checkout>
        </blocks>
        <helpers>
            <oro_checkout>
                <class>Oro_Checkout_Helper</class>
            </oro_checkout>
        </helpers>
        <resources>
            <oro_checkout_setup>
                <setup>
                    <module>Oro_Checkout</module>
                </setup>
            </oro_checkout_setup>
        </resources>
        <events>
            <catalog_entity_attribute_save_after>
                <observers>
                    <oro_checkout_save_attribute>
                        <type>singleton</type>
                        <class>oro_checkout/observer</class>
                        <method>saveAttributeData</method>
                    </oro_checkout_save_attribute>
                </observers>
            </catalog_entity_attribute_save_after>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <oro_checkout>
                    <file>oro/checkout.xml</file>
                </oro_checkout>
            </updates>
        </layout>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <oro_checkout before="Mage_Checkout">Oro_Checkout</oro_checkout>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <oro_checkout>
                    <file>oro/checkout.xml</file>
                </oro_checkout>
            </updates>
        </layout>
    </adminhtml>
</config>
